/*Student.Contact*/
.content-contact-wrapper {
    width: calc(100% - 380px);
    float: left;
}

.content-contact-wrapper form {
    padding: 0;
}

.contact-form-body p {
    width: 50%;
    float: left;
}
.contact-form-body p>textarea {
    width: calc(100% - 15px);
    height: 150px;
    resize: none;
    border: 1px solid #cccccc;
    margin-right: 10px;
    padding: 5px 10px;
}
.contact-form-body p>input {
    width: calc(100% - 15px);
    height: 36px;
    border: 1px solid #cccccc;
    margin-right: 10px;
    padding: 5px 10px;
}
.contact-form-body p.contact-name,
.contact-form-body p.message {
    width: 100%;
    float: left;
}
.contact-form-body p.contact-name>input,
.contact-form-body .choose-services  {
    width: calc(50% - 15px);
    float: left;
}
.map-contact {
    margin-right: 15px;
}
.content-contact-wrapper button[type="button"] {
    background: #909090;
}
.content-contact-wrapper button[type="button"]:hover {
    background: #ffcc00;
}
.contact-form-body .choose-services select {
    border-radius: 0;
}
.contact-infor {
    border: 1px solid #ececed;
    height: auto;
    overflow: hidden;
    margin-bottom: 20px;
}
.contact-infor-wrapper {
    padding: 20px;
}
.contact-infor-header h4 {
    width: auto;
    float: left;
    margin: 0;
}

.contact-infor-header span {
    width: auto;
    float: left;
}

.contact-infor-header {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.contact-infor-content {
    margin-left: 35px;
}
.contact-infor-content p,
.contact-infor-content a,
.contact-infor-content .sl-social span {
    color: #909090;
}
.contact-infor-content .sl-social span {
    font-size: 27px;
    margin-right: 15px;
}
.contact-infor-content .sl-social span:hover {
    color: #ffcc00;
}
.top-videos-header-title span {
    margin-right: 0;
}
.top-mentor-header-title span:before,
.contact-infor-header span:before,
.top-videos-header-title span:before {
    font-size: 24px;
    color: #ffcc00;
    margin-right: 10px;
}
#contact {
    margin-bottom: 30px;
}

/*Student.Terms of use*/
.content-terms-of-use {
    width: 66.666666%;
    float: left;
    padding-right: 15px;
}
.content-terms-of-use-wrapper .term {
    margin-bottom: 20px;
}
.content-terms-of-use-wrapper .term .term-header {
    font-weight: 600;
    margin-bottom: 5px;
}
.ask-a-question-content {
    padding-bottom: 30px;
}